<h3>Coupon Form</h3>

<%= form_tag coupons_path do %>
  <label>:</label>
  <%= text_field_tag :'first_name' %><br>
  <label>Last Name:</label>
  <%= text_field_tag :'last_name' %><br>
  
  <%= submit_tag "Submit Student" %>
<% end %>